html, body {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

h1 {
  color: #dc0057;
}

h2 {
  color: #00cadc;
}

a, a:visited {
  color: #00d1ff;
}

.intro {
  max-width: 800px;
  margin: auto;
}
.intro-text {
  font-size: 14px;
  line-height: 1.5;
}

.dropcap {
  font-size: 150px;
  font-weight: bold;
  line-height: 1;
  margin-right: -40px;
  color: #dc0057;
}

.dropcap-large {
  margin-right: -20px;
}

.word-chopped {
  font-size: 50px;
}

.submit .buttons {
  text-align: center;
  margin-top: 20px;
}

.submit button {
  font-size: 30px;
  padding: 10px;
  color: teal;
  cursor: pointer;
}

.or {
  padding: 10px;
}

.leaderboard {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5em;
  padding: 5em 20px;
}

.helptext {
  font-size: 10px;
}

.footer {
  width: 100%;
  background-color: rgb(77, 77, 77);
}

.footer h2 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

table {
  width: 100%;
  font-size: 20px;
}

table td {
  padding: 10px;
  border: 1px solid white;
}

.vote-button {
  width: 33%;
  line-height: 20px;
}
