html, body {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
.dropcap {
  font-size: 150px;
  font-weight: bold;
  line-height: 1;
  margin-right: -40px;
}

.dropcap-large {
  margin-right: -20px;
}

.word-chopped {
  font-size: 50px;
}
